#page #header{
    position:relative;
}
.landing #filter{
    margin-top:0px!important;
    margin-bottom:0px!important;

}
#header img.logo-siscop{
    margin-top: 1%;
}
.landing #page{
    padding:0;
}
#page #header>h1{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#page #header>h1{

}
.landing #page-content-wrapper{
    padding-top: 0;

}
.landing .hamburger,
.landing .breadcrumb{
    display: none;
}
.main-bg-landing{
    background: url(../images/siscop_background.jpg) no-repeat center center;
    background-size: cover;
    border-top: 6px solid #777;
    min-height: 561px;
    position:relative;
}
.main-bg-landing>.row{
    position:absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform:translateY(-50%);
    margin:0 auto;
}
.main-bg-landing .login-panel{
    margin: 0 auto;
    float: inherit
}
#footer{
    padding: 0 15px;
    min-height: 100px;
}
#footer .copyright{
    float:left;
}
#footer .logo{
    float:right;
}
.preloader-alfa{
    position:fixed;
    background:url(../images/loadingIca.gif) center no-repeat rgba(255,255,255, .85);
    z-index:990;
    top:2px;
    left:2px;
    right:2px;
    bottom:2px;
    display:none;
    padding-bottom:5px;
}