html{
    overflow: hidden;
}

    .navbar-default > .container {
        width: inherit;
    }
    .navbar-collapse .dropdown-menu{
        position: inherit;
        float: initial;
        min-width: initial;
    }
.navbar-collapse.in{
    overflow-y: inherit;
}

